@import "tailwindcss";

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-900;
    font-family: 'Assistant', sans-serif;
  }
}

@layer components {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-100;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-300 rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }
}
